/* allgemeine Elemente */
body {
	color: #FFFFCC;
	background-color: #000000;
}
a:link, a:active, a:visited {
	color: #FFCC00;
	text-decoration: none;
}
a:hover {
	color: #FFFFCC;
	text-decoration: underline;
}
th,h1,h2,h3 {
	color: #996600;
}

/* spezielle Elemente */
div.box {
	float:left;
	margin:25px;
}
/* "richtige" Tabellenzellen
 * (in der Karte "unrichtige" Zellen benutzt)
 */
table.tabelle tr td {
	padding-left:3px;
	padding-right:3px;
}
