body {
	color: #FFFFCC;
	background-color: #000000;
}
a:link, a:active, a:visited {
	color: #FFCC00;
	text-decoration: none;
}
a:hover {
	color: #FFFFCC;
	text-decoration: underline;
}
th,h1,h2,h3 {
	color: #996600;
}
div.box {
	float:left;
	margin:25px;
}
